*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pragati Narrow', sans-serif;
    background: rgb(35, 35, 37);
    font-size: 63.83%;
}
h1{
    text-align: center;
    color: #ffff;
    font-size: 3rem;
}
h2{
    text-align: center;
    color: rgb(162, 170, 206);
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    padding: 0rem 4.115rem;
    background: rgb(51, 55, 94);
}
.conteiner{
    max-width: 114rem;
    margin: 0 auto;
}
.main-menu{
    background: rgb(140, 181, 189);
    margin: auto;
    width: 90%;
    height: 82vh;
    box-shadow: 1rem 1rem 3rem rgba(185, 176, 197, 0.5);
}

.menu-bar{
    height: 82vh;
    width: 12rem;
    background: rgb(81, 93, 129);
    float: left;
    overflow: hidden;
}
.items{
    text-align: center;
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
.item_1{
    padding:0  1.18rem;
}
.item_2{
    padding:0  .9rem;
}
.item_3{
    padding:0  3.065rem;
}
.items:hover{
    background: rgb(42, 42, 43);
    color: rgb(155, 192, 206);
}
.customer-details{
    font-size: 2rem;
    margin: 1.5rem 17rem ;
    position: absolute;
}
input{
   font-size: 1rem;
   width: 9rem;
}
label{
    display: block;
}
#submit-form{
    margin-left: 37rem;
    color:#fff;
    margin-top: -2rem;
    background: rgb(67, 95, 128);
}
table{
    text-align: center;
    
}
td, th{
    padding: 0 0 0 1rem;
}
.table1, th{
    font-size: 1.5rem;
}